@font-face {
  font-family: Apercu;
  src: url(https://my.headspace.com/fonts/apercu/apercu_regular.eot?)
      format("eot"),
    url(https://my.headspace.com/fonts/apercu/apercu_regular.tff) format("tff"),
    url(https://my.headspace.com/fonts/apercu/apercu_regular.svg) format("svg"),
    url(https://my.headspace.com/fonts/apercu/apercu_regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(https://my.headspace.com/fonts/apercu/apercu_bold.eot?) format("eot"),
    url(https://my.headspace.com/fonts/apercu/apercu_bold.tff) format("tff"),
    url(https://my.headspace.com/fonts/apercu/apercu_bold.svg) format("svg"),
    url(https://my.headspace.com/fonts/apercu/apercu_bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

body,
html {
  height: 100%;
  min-height: 100%;
  font-family: Apercu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.u-bold {
  font-weight: 700;
}

.u-textAlign--center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.u-flex {
  display: flex;
}

.u-flexDirection--row {
  flex-direction: row;
}

.u-flexDirection--column {
  flex-direction: column;
}

.u-flex--0 {
  flex: 0;
}

.u-flex--1 {
  flex: 1;
}
